header{
    background:url("../img/banner.jpg");
    height: 650px;
}
.row{
    margin-top: 20px;
}
#top_menu > ul{
    margin: 0;
}
#top_menu > ul > li{
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
}
#top_menu > ul > li >a{
    color: white;
    font-size: 22px;
}
.navbar-header > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}
.navbar-header > button > span{
    color: white;
}
.navbar-header > a {
    padding: 0;
    display: flex;
    align-items: center;
}
.line{
    height: 1px;
    background-color: white;
    margin-top: 5px;
}
.descrpt{
    text-align: center;
    margin-top: 50px;
}
.descrpt > h1{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}
.descrpt > p{
    color: white;
    font-size: 20px;
}
.descrpt > button{
    padding: 10px 30px;
}
.descrpt > button:focus,.descrpt > button:active{
    border: none;
    text-decoration: none;
    outline: none;
}
.items_icon{
    margin-top: 50px;
}
.item{
    text-align: center;
    margin-bottom: 50px;
}
.item i{
    font-size: 70px;
    color: #4cae4c;
}
.item > h3{
    font-weight: bold;
}
.item > p{
    font-size: 18px;
}

