@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {
    #top_menu > ul > li {
        padding: 0 10px;
    }

}
@media only screen and (max-width : 767px) {
    #top_menu > ul > li{
        display: block;
        margin:0;
        font-size: 12px;
        text-align: center;
        padding: 10px;
    }
    #top_menu > ul > li:hover{
        background-color: #1b6d85;
    }
    .menu{
        padding: 0;
    }
    .descrpt > h1{
        font-size: 30px;
    }
    .descrpt > p{
        font-size: 15px;
    }

}
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 320px) {

}